/* Color Theme Swatches in Hex */
.destaque { color: #0D0D0D; }
.background { color: #262626; }
.border { color: #A6A6A6; }
.links { color: #D9D9D9; }
.principal { color: #F2F2F2; }

html {
    font-family: sans-serif;
    font-size: 18px;
}

header {
    background-color: #F2F2F2;
    color: #262626;
}

body {
    background-color: #262626;
    color: #F2F2F2;
}

p {
    text-indent: 1em;
}

h1 {
    text-indent: 1em;
    text-align: center;
    font-size: 1.8rem;
}

h2 {
    text-align: center;
    font-size: 1.4rem;
}

h3 {
    text-align: center;
    font-size: 1.2rem;
}

zen-intro header h1,zen-intro header h2 {
    display: inline-block;
}

zen-intro header h1 {
    margin-left: 1em;
    margin-right: 1em;
}

.page-wrapper {
    position: relative;
    width: 80%;
    max-width: 1280;
    margin: auto;
}

aside ul {list-style-type: none;}
aside ul li {
    margin: 1em;
    text-align: center;
}

.main footer {margin: 4%;}
.main footer a {
    border: solid 2px #A6A6A6;
    padding: 0.5em;
    display: inline-block;
    padding-right: 2%;
}

.explanation {
    width: 60%;
    padding-right: 2%;
    margin-right: 35%;
    border-right: solid 1px #A6A6A6;
}

.design-selection {
    position: absolute;
    top: 470px;
    left:  62%;
    padding-left: 1%;
    padding-right: 1%;
}

.supporting footer {
    display: flex;
    justify-content: space-evenly;
}

.benefits {
    border-top: solid 1px #A6A6A6;
    border-bottom: solid 1px #A6A6A6;
    display: flex;
}

.benefits h3 {
    flex-basis: 30%;
    align-self: center;
    order: 2;
}

.benefits p {
    flex-basis: 70%;
}

.participation {
    border-top: solid 1px #A6A6A6;
    display: flex;
    flex-wrap: wrap;
}

.participation h3, .participation p {
    flex-basis: 50%;
}

.participation h3 {
    align-self: center;
}

a {
    color: #0D0D0D;
    font-weight: bold;
}

a:hover {
    color: #D9D9D9;
}

a:visited {
    font-weight: normal;
}

.main p:first-of-type::first-letter {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}

.design-selection li {
    border-top: solid 1px #A6A6A6;
    padding-top: 5px;
}

.design-selection li:last-child {
    border-bottom: solid 1px #A6A6A6;
    padding-bottom: 5px;
}

#zen-intro {height: 550px;}
#design-archives {display: none;}
.summary {text-align: center;}
.main p {line-height: 1.5;}
abbr {font-variant: small-caps;}